.arrow_forward, .arrow_back {
  position:absolute;
  z-index:12;
 min-width: 5%;
 height:3em;
 font-size:3em;
 line-height:0;
 background: transparent;
 color: white;
 border: none;
 cursor: pointer;

  }

.arrow_forward {

  right:0;
}

.arrow_back {
    left:0;
}
